@use "./utility/base";
@use "./utility/variable";
@use "./utility/class";
@use "./utility/mixins";

.card {
  border: none;
  border-radius: 2rem;

  .top {
    background: variable.$whiteColor;
    border-radius: 2rem;
    box-shadow: 0px 16px 41px -7px variable.$cloudColor;
    min-height: 125px;

    img {
      width: 75px;
      height: 75px;
    }
  }

  .label__checkbox {
    display: none;
  }

  .label__check {
    display: inline-block;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background: white;
    vertical-align: middle;
    margin-right: 20px;
    width: 3em;
    height: 3em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease;

    i.icon {
      opacity: 0.2;
      font-size: 1.25rem;
      color: transparent;
      transition: opacity 0.3s 0.1s ease;
      -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
    }

    &:hover {
      border: 5px solid rgba(0, 0, 0, 0.2);
    }
  }

  .label__checkbox:checked+.label__text .label__check {
    animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;

    .icon {
      opacity: 1;
      transform: scale(0);
      color: white;
      -webkit-text-stroke: 0;
      animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
    }
  }

  .center {
    position: absolute;
    top: 65%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  @keyframes icon {
    from {
      opacity: 0;
      transform: scale(0.3);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes check {
    0% {
      width: 1.5em;
      height: 1.5em;
      border-width: 5px;
    }

    10% {
      width: 1.5em;
      height: 1.5em;
      opacity: 0.1;
      background: rgba(0, 0, 0, 0.2);
      border-width: 15px;
    }

    12% {
      width: 1.5em;
      height: 1.5em;
      opacity: 0.4;
      background: rgba(0, 0, 0, 0.1);
      border-width: 0;
    }

    50% {
      width: 2em;
      height: 2em;
      background: #00d478;
      border: 0;
      opacity: 0.6;
    }

    100% {
      width: 2em;
      height: 2em;
      background: #00d478;
      border: 0;
      opacity: 1;
    }
  }
}

.cart {
  background: variable.$whiteColor;
  margin: 3rem 0;
  border-radius: 2rem;

  .title {
    .deleteAll {
      @include mixins.templateIcon(variable.$secondColor);

      i {
        @include mixins.colorIcon(variable.$secondColor);
      }
    }
  }

  .item-list {
    background: variable.$whiteColor;
    border-radius: 2rem;
    box-shadow: 0px 16px 41px -7px variable.$cloudColor;

    .img-left {
      max-width: 50px !important;
      margin: 0 1rem;

      img {
        width: 45px;
        height: 45px;
      }
    }
  }

  .item-list {
    .quantity {
      width: 50%;

      .decrease,
      .increase {
        @include mixins.templateIcon(variable.$mainColor);
        margin: 0 1rem;
      }

      i {
        font-size: 1.75rem;
        color: variable.$mainColor;
      }
    }
  }
}