@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font
$inter: "Inter",
sans-serif;

// Color
$cloudColor: #ecf1fb;
$whiteColor: #fff;
$mainColor: #4361ee;
$secondColor: #cf3529;